<h1>Listing items</h1>

<style type="text/css">
  .title {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .title a {
    color: maroon;
  }

  a:hover {
    color: green;
    background: none;
  }

  .price {
    color: maroon;
    font-size: 16pt;
    text-align: right;
  }

  .links a {
    color: maroon;
  }
  .links a:hover {
    color:green;
    font-size: 12pt;
  }
  .description {
    margin-bottom: 10px;
  }
  .button {
    margin-top: 40px;
  }
  .button :hover {
    color :green;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 10px;
  }

</style>

<%= link_to "your cart", :controller => :cart, :action => :index %>

<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to image_tag(item.Image_url, :width => 200), item %></td>
        <td>
          <div class="title"><%= link_to item.title, item %></div>
          <div class="description"><%= item.description %></div>
          <div class="price"><%= number_to_currency item.price, :unit => "$" %></div>
          <div class="links"><%= link_to 'Show', item %> | <%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <div class="button">
          <%= button_to "Add cart", :controller => :cart, :action => :add, :id => item %>
          </div>
        </td> 
      </tr>
      <tr>
        <td colspan="2">
          <hr>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
